@model AddQuestionViewModel

<p>Lägg till en fråga!</p>


<form asp-action="AddQuestion">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuizId" />
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    @for (var i = 0; i < @Model.Options.Count; i++)
    {
    <div class="form-group">
        <label asp-for="@Model.Options[i].Text" class="control-label"></label>
        <input type="text" asp-for="@Model.Options[i].Text" class="form-control" />              
        <span asp-validation-for="@Model.Options[i].Text" class="text-danger"></span>

        <label asp-for="@Model.Options[i].Answer" class="control-label"></label>
        <span asp-validation-for="Answer" class="text-danger"></span>
        <input type="radio" name="Answer" value="@(i+1)">
    </div>
    }


    <div class="form-group">
        <input type="submit" value="Spara fråga" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Quiz" class="btn btn-primary">Färdig</a>
    </div>
</form>