@model PaginatedList<Quiz>
@{
    ViewData["Title"] = "Index";
}

<h1>Quiz.</h1>

<p>
    <a class="link-secondary" asp-action="Create">Skapa Quiz!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                quiz!                
            </th>
            <th>
                Skapare:                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="link-secondary" asp-action="Take" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoolBooksUser.UserName)
            </td>
            <td>
                @if (item.CreatedBy == userManager.GetUserId(User) || User.IsInRole("Admin" ))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }        
            </td>
        </tr>
}
    </tbody>
</table>



@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@for(int i = 1; i <= Model.TotalPages; i++){
    bool hej = true;
    if (Model.PageIndex == i)
    {
        hej = false;

    } 
    else
    {
        hej = true;

    }
    var currentDisabled = !hej ? "disabled" : "";
    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(i)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @currentDisabled">
    @i
</a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>