@model Quiz

@{
    var returnUrl = Url.RouteUrl(ViewContext.RouteData.Values);    
}

@*
@section Scripts{

    <script>

    function CheckAnswer() {
        var myArray = [];
        var points = 0;
        @foreach (var question in Model.Questions)
        {

                string id = "Question_" +  question.Id.ToString();
                @:myArray.push("@id");       
        }
                for (var i = 0; i < myArray.length; i++) {

                    $("input[type='radio'][name=" + myArray[i] + "]").parent().removeClass("right");
                    $("input[type='radio'][name=" + myArray[i] + "]").parent().removeClass("wrong");
                    $("input[type='radio'][name=" + myArray[i] + "]").each(function () {
                        if ($(this).is(":checked")) {
                            if ($(this).val() == "True") {
                                $(this).parent().addClass("right")
                                points++;
                            } else {
                                $(this).parent().addClass("wrong");
                            }
                        }
                    });
                }
       document.getElementById("points").innerHTML = "Poäng: " + points + "/" + myArray.length;
    }
    </script>

}

<style>
    .right {
        background-color: green;
    }

    .wrong {
        background-color: red;
    }
</style>*@




@*<h2>@Model.Name</h2>

@foreach (var question in Model.Questions)
{
    <p>@question.Text</p>

    <ul>
    @foreach (var option in question.Options)
    {
        <li>
            <input type="radio" id="@option.Id" name="Question_@(question.Id)" value="@option.Answer.ToString()" />
            <label for="@option.Id">@option.Text</label>
        </li>
    }
    </ul>
}

<button class="btn btn-dark" value="Rätta" onclick="CheckAnswer()">Rätta</button> <p><b id="points"></b></p>
*@

<h2>@Model.Name</h2>

<form asp-action="Correct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <input type="hidden" asp-for="@Model.Id" />

    @*kontrollern crashar om den "får" en tom dictionary. Där av denna hidden*@
    <input type="hidden" name="Answer" value="0" />

    @foreach (var question in Model.Questions)
{
    <p class="mt-2"><b>@question.Text</b></p>

    <ul class="list-group">
    @foreach (var option in question.Options)
    {
        <li class="list-group-item">
            <input type="radio" id="@option.Id" name="Answer[@question.Id]" value="@option.Id" />
            <label for="@option.Id">@option.Text</label>
        </li>
    }
    </ul>
}

@if (signInManager.IsSignedIn(User)){

    <div class="form-group mt-2">
        <input type="submit" value="Rätta" class="btn btn-primary" />        
    </div>
   
}
else {
    <div class="form-group mt-2">
        <input type="submit" value="Rätta" class="btn btn-primary" disabled/>        
    </div>
    <p>Logga in för att kunna rätta Quizet. <a  class="link-secondary" asp-controller="account" asp-action="login" asp-route-returnUrl="@returnUrl"> Logga in </a></p>
}
</form>
<a asp-action="index" asp-controller="quiz">Tillbaka</a>