@model BookWithReviewsViewModel

@{
    ViewData["Title"] = "Details";
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var route = ViewContext.RouteData.Values["id"];
}

<h1>@Html.DisplayFor(model => model.book.Title)</h1>

<div>
    <hr />

    <dl class="row">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src=" @Html.DisplayFor(model => model.book.ImagePath)" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body"
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.Title)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.book.Title)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.Description)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.book.Description)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.ISBN)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.book.ISBN)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.Created)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.book.Created)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.Genres)
                        </dt>
                        <dd class = "col-sm-10">
                            @foreach (var genre in Model.book.Genres)
                            {
                                <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id">@Html.DisplayFor(modelItem => genre.Name)</a><br />
                            }                            
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.book.Authors)
                        </dt>
                        <dd class = "col-sm-10">
                            @foreach (var author in Model.book.Authors)
                            {
                                <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">@Html.DisplayFor(modelItem => author.FullName)</a><br />
                            }   

                        </dd>
                     </div>
                </div>
           </div>
        </div>
    </dl>
</div>

<div>


    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")) {
        <a asp-action="Edit" asp-route-id="@Model?.book.Id">Edit </a> 
          }
    <a asp-action="Index">Back to List</a>
</div>


@if (signInManager.IsSignedIn(User)){

<partial name="_ReviewPartial" model="Model.review" />

   
}
else {
    <p>Logga in för att kunna skriva en recension. <a asp-controller="account" asp-action="login" asp-route-returnurl="@routeUrl"> Logga in </a></p>
}


@if (Model.reviews.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.BookAscDescSortParam">Book ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.reviews[0].Book)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.CreatedByAscDescSortParam">Created By ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.reviews[0].CreatedBy)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.TitleAscDescSortParam">Title ASC/DESC</a>
                @*@Html.ActionLink("Title ASC/DESC FIX THIS SHIT", "Index", new { sortOrder = ViewBag.TitleAscDescSortParam })*@ 
                @*@Html.DisplayNameFor(model => model.reviews[0].Title)*@
            </th>

            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.TextAscDescSortParam">Text ASC/DESC</a>
                @*@Html.ActionLink("Text ASC/DESC FIX THIS SHIT", "Index", new { sortOrder = ViewBag.TextAscDescSortParam })*@
                @*@Html.DisplayNameFor(model => model.reviews[0].Text)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.RatingAscDescSortParam">Rating ASC/DESC</a>
                @*@Html.ActionLink("Rating ASC/DESC FIX THIS SHIT", "Index", new { sortOrder = ViewBag.RatingAscDescSortParam })*@
                @*@Html.DisplayNameFor(model => model.reviews[0].Rating)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.CreatedAscDescSortParam">Created ASC/DESC</a>
                @*@Html.ActionLink("Created ASC/DESC FIX THIS SHIT", "Index", new { sortOrder = ViewBag.CreatedAscDescSortParam })*@
                @*@Html.DisplayNameFor(model => model.reviews[0].Created)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


@foreach (var item in Model.reviews) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoolBooksUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (item.CreatedBy == userManager.GetUserId(User) || User.IsInRole("Admin" ))
                {
                    <a asp-action="Edit" asp-controller="Reviews" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Reviews" asp-route-id="@item.Id">Delete</a>
                }                        
            </td>
        </tr>
}
    </tbody>
    </table>

}
else
{
<h3>Det finns inga reviews ännu... var den första som rescenserar?</h3>   

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}