@model Book
        
    <table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id"><img src=" @Html.DisplayFor(model => Model.ImagePath)" class="card-img-thumbnail" alt="..." width="150px" height="223px"></a>   
            </td>
            <td>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">@Html.DisplayFor(modelItem => Model.Title)</a>
                @*@Html.DisplayFor(modelItem => Model.Title)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            <td>
                @if (Model.Genres.Any())
                {
                    foreach(var genre in Model.Genres)
                    {
                        string name = genre.Name;
                        string id = genre.Id.ToString();
                        @* @Html.ActionLink(name, id, "Genres/Details", "", "", "", "", ""); *@
                        <a asp-action="Details" asp-controller="Genres" asp-route-id="@id">@name</a>
                        @*@Html.DisplayFor(modelItem => genre.Name);*@
                    }            
                }
                else
                {
                    <p>no genre</p>
                }
            </td> 
            <td>
                @Html.DisplayFor(modelItem => Model.Rating)
            </td>
            <td>
                @if (Model.Genres.Any())
                {
                    foreach(var author in Model.Authors)
                    {
                        string name = author.FullName;
                        string id = author.Id.ToString();
                        <a asp-action="Details" asp-controller="Authors" asp-route-id="@id">@name</a>
                        @*@Html.DisplayFor(modelItem => author.FullName)<br />*@
                    }            
                }
                else
                {
                    <p>no author</p>
                }
            </td>

            <td>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
                <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>                
                <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
            </td>
        </tr>
    </thead>
    </table>




        