@model List<Comment>
@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}
<ul>
@foreach (var comment in Model)
{

    // <p>@jquerylike</p>
    // <p>@jquerydislike</p> *@
    // "private field must be declared in an enclosing class"
    // Vi får in rätt värde i variabeln men JS blir inte glad!


    <li>@comment.CoolBooksUser.Name - @comment.Text - <a asp-controller="Comments" asp-action="Create" asp-route-id="@comment.Id" asp-route-returnUrl="@routeUrl">svara</a></li>
   
    @*@foreach(CommentLikes user in ViewBag.commentAllUserlikedislike)  *@
    @foreach(CommentLikes user in comment.CommentLikes)  
    {            
        if (user.UserId == userManager.GetUserId(User))            
        {
            ViewBag.userid = user.UserId;   
            ViewBag.userlike = user.IsLike;
            break;
        }
    }

@if(@ViewBag.userid == userManager.GetUserId(User) && ViewBag.userlike == true) // like som inloggad
{   
    <button class="like"
    disabled data-status="true"  
    id="like_@(comment.Id)"> Like <i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
    <button class="dislike"   
    data-status ="false" 
    id="dislike_@(comment.Id)">Dislike<i class="fa fa-thumbs-o-down blue-color"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
 } 
    
else if (@ViewBag.userid == userManager.GetUserId(User) && ViewBag.userlike == false) // dislike som inloggad
{
    
    <button class="like" 
    data-status="true" 
    id="like_@(comment.Id)">Like<i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
        
    <button class="dislike"   
    disabled data-status = "false"  
    id="dislike_@(comment.Id)">Dislike<i class="fa fa-thumbs-o-down"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
 }

else // inte inloggad eller inte like/dislike
{  
    
    <button class="like"  
    data-status="true"  
    id="like_@(comment.Id)">Like <i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
    <button class="dislike"   
    data-status="false" 
    id="dislike_@(comment.Id)">Dislike<i class="fa fa-thumbs-o-down blue-color"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
    
}

@if (comment.comments.Any())
{    
        <partial name="_commentrepeat" model="comment.comments" />       
}
}
 </ul>