@model List<Comment>

@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    string userid = "";
    bool? userlike = null;
}
<ul>
@foreach (var comment in Model)
{ 
    userid = "";   
    userlike = null;

    <li>
        @comment.CoolBooksUser.Name - @comment.Text - <a asp-controller="Comments" asp-action="Create" asp-route-id="@comment.Id" asp-route-returnUrl="@routeUrl">svara</a>
   </li>
       
  
    

    @foreach(CommentLikes user in comment.CommentLikes)  
    {            
        if (user.UserId == userManager.GetUserId(User))            
        {
            userid = user.UserId;   
            userlike = user.IsLike;
            break;
        }
    }

    @if(userid == userManager.GetUserId(User) && userlike == true) // like som inloggad
    {   
        <button class="like btn btn-success btn-sm"
        disabled data-status="true"  
        id="like_@(comment.Id)"> Like <i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
        <button class="dislike btn btn-danger btn-sm"   
        data-status ="false" 
        id="dislike_@(comment.Id)">Dislike <i class="fa fa-thumbs-o-down blue-color"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
     } 
    
    else if (userid == userManager.GetUserId(User) && userlike == false) // dislike som inloggad
    {
    
        <button class="like btn btn-success btn-sm" 
        data-status="true" 
        id="like_@(comment.Id)">Like <i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
        
        <button class="dislike btn btn-danger btn-sm"   
        disabled data-status = "false"  
        id="dislike_@(comment.Id)">Dislike <i class="fa fa-thumbs-o-down"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
     }

    else // inte inloggad eller inte like/dislike
    {  
    
        <button class="like btn btn-success btn-sm"  
        data-status="true"  
        id="like_@(comment.Id)">Like <i class="fa fa-thumbs-o-up blue-color"></i><span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
        <button class="dislike btn btn-danger btn-sm"   
        data-status="false" 
        id="dislike_@(comment.Id)">Dislike <i class="fa fa-thumbs-o-down blue-color"></i><span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
    
    }


    userid = "";

    @foreach(var reportedComment in comment.ReportedComments)  
    {            
        if (reportedComment.UserId == userManager.GetUserId(User))            
        {
            userid = reportedComment.UserId;            
            break;
        }
    }

    if (userid == userManager.GetUserId(User))
    {
        <button class="ReportComment btn btn-warning btn-sm" id="ReportComment_@(comment.Id)" ><span class="ReportCommentText" id="ReportCommentText_@(comment.Id)">Rapporterad</span></button>
    }
    else
    {
        <button class="ReportComment btn btn-primary btn-sm" id="ReportComment_@(comment.Id)"><span class="ReportCommentText" id="ReportCommentText_@(comment.Id)">Rapportera</span></button>
    }

    

    @if (comment.comments.Any())
    {    
        <partial name="_commentrepeat" model="comment.comments" />       
    }
}
 </ul>