@model List<Comment>

@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    string userid = "";
    bool? userlike = null;
}
<ul>
@foreach (var comment in Model)
{ 
    userid = "";   
    userlike = null;

    <li class="m-2">
        <div class="d-flex border border-2">
            <div style="width: 200px">
                <div>
                    <b>@comment.CoolBooksUser.Name</b>
                </div>
                <div>
                    <i>@comment.Created</i>
                </div>
                <div>

    @foreach(CommentLikes user in comment.CommentLikes)  
    {            
        if (user.UserId == userManager.GetUserId(User))            
        {
            userid = user.UserId;   
            userlike = user.IsLike;
            break;
        }
    }

    @if(userid == userManager.GetUserId(User) && userlike == true) // like som inloggad
    {   
        <button class="like btn btn-success btn-sm"
        disabled data-status="true"  
        id="like_@(comment.Id)"><i class="fa fa-thumbs-o-up  text-light"></i> <span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
        <button class="dislike btn btn-danger btn-sm"   
        data-status ="false" 
        id="dislike_@(comment.Id)"><i class="fa fa-thumbs-o-down  text-light"></i> <span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
     } 
    
    else if (userid == userManager.GetUserId(User) && userlike == false) // dislike som inloggad
    {
    
        <button class="like btn btn-success btn-sm" 
        data-status="true" 
        id="like_@(comment.Id)"><i class="fa fa-thumbs-o-up text-light"></i> <span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
        
        <button class="dislike btn btn-danger btn-sm"   
        disabled data-status = "false"  
        id="dislike_@(comment.Id)"><i class="fa fa-thumbs-o-down text-light"></i> <span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
     }

    else // inte inloggad eller inte like/dislike
    {  
    
        <button class="like btn btn-success btn-sm"  
        data-status="true"  
        id="like_@(comment.Id)"><i class="fa fa-thumbs-o-up  text-light"></i> <span class="commentlikecount" id="commentlikecount_@(comment.Id)">@comment.LikeCount</span></button>
    
        <button class="dislike btn btn-danger btn-sm"   
        data-status="false" 
        id="dislike_@(comment.Id)"><i class="fa fa-thumbs-o-down  text-light"></i> <span class="commentdislikecount" id="commentdislikecount_@(comment.Id)">@comment.DisLikeCount</span></button>
    
    }



    @*REPORTKNAPPAR*@
    
    @{userid = "";}


    @foreach(var reportedComment in comment.ReportedComments)  
    {            
        if (reportedComment.UserId == userManager.GetUserId(User))            
        {
            userid = reportedComment.UserId;            
            break;
        }
    }

    @if (userid == userManager.GetUserId(User))
    {
        <button class="ReportComment btn btn-warning btn-sm" id="ReportComment_@(comment.Id)"><i class='fa fa-fa'></i><span class="ReportCommentText" id="ReportCommentText_@(comment.Id)"></span></button>
    }
    else
    {
        <button class="ReportComment btn btn-primary btn-sm" id="ReportComment_@(comment.Id)"><i class='fa fa-fa'></i><span class="ReportCommentText" id="ReportCommentText_@(comment.Id)"></span></button>
    }

                    </div>
                    </div>
           <div class="d-flex">
               @comment.Text - <a asp-controller="Comments" asp-action="Create" asp-route-id="@comment.Id" asp-route-returnUrl="@routeUrl">svara</a>
           </div>
           </div>
   </li>

    @if (comment.comments.Any())
    {    
        <partial name="_commentrepeat" model="comment.comments" />       
    }
}
 </ul>