@model Review
@{
    string userid = "";
    bool? userlike = null;

}
    
@foreach(ReviewLikes user in Model.ReviewLikes)  
{  
    userid = "";
    userlike = null;

    if (user.UserId == userManager.GetUserId(User))
    {
        userid = user.UserId;   
        userlike = user.IsLike;
        break;
    }
}
<div class="d-flex ReviewsContainer">
@*LIKEKNAPPAR*@
@if(userid == userManager.GetUserId(User) && userlike == true) 
{   
    
    <button
    disabled data-status="true"  
    class="LikeReview btn btn-success btn-sm" id="LikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-up text-light"></i> <span id="Reviewslikecount_@(Model.Id)">@Model.LikeCount</span></button>
    
    <button   
    data-status ="false"  
    class="DislikeReview btn btn-danger btn-sm" id="DislikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-down text-light"></i> <span id="Reviewsdislikecount_@(Model.Id)">@Model.DisLikeCount</span></button>
    
} 
    
    else if (userid == userManager.GetUserId(User) && userlike == false)
    {
        
    <button 
    data-status="true"  
    class="LikeReview btn btn-success btn-sm" id="LikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-up text-light"></i> <span id="Reviewslikecount_@(Model.Id)">@Model.LikeCount</span></button>
    
    <button   
    disabled data-status = "false"  
    class="DislikeReview btn btn-danger btn-sm" id="DislikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-down text-light"></i> <span id="Reviewsdislikecount_@(Model.Id)">@Model.DisLikeCount</span></button>
    
    }

else 
{  
    
    <button  
    data-status="true"  
    class="LikeReview btn btn-success btn-sm" id="LikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-up text-light"></i> <span id="Reviewslikecount_@(Model.Id)">@Model.LikeCount</span></button>
    
    <button   
    data-status="false"  
    class="DislikeReview btn btn-danger btn-sm" id="DislikeReview_@(Model.Id)"><i class="fa fa-thumbs-o-down text-light"></i> <span id="Reviewsdislikecount_@(Model.Id)">@Model.DisLikeCount</span></button> 
    
}
@*REPORTKNAPP*@
@if (signInManager.IsSignedIn(User))
{
   
    userid = "";

    @foreach(var reportedReview in Model.reportedReviews)  
    {            
        if (reportedReview.UserId == userManager.GetUserId(User))            
        {
            userid = reportedReview.UserId;            
            break;
        }
    }

    if (userid == userManager.GetUserId(User))
        {
            <div class="ms-1">
                <button class="ReportReview btn btn-warning btn-sm" id="ReportReview_@(Model.Id)" ><i class='fa fa-fa'></i><span class="ReportReviewText" id="ReportReviewText_@(Model.Id)"></span></button>
            </div>
        }
        else
        {
             <div class="ms-1">
            <button class="ReportReview btn btn-primary btn-sm" id="ReportReview_@(Model.Id)"><i class='fa fa-fa'></i><span class="ReportReviewText" id="ReportReviewText_@(Model.Id)"></span></button>
            </div>
        }   

}
</div>
