@model IEnumerable<CoolBooks.Models.Author>

@{
    ViewData["Title"] = "Index";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var route = ViewContext.RouteData.Values["id"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.FirstNameAscDescSortParam">FirstName ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.FirstName)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.LastNameAscDescSortParam">LastName ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.LastName)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.BirthDateAscDescSortParam">BirthDate ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.BirthDate)*@
            </th>
            <th>
                <a asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.CreatedAscDescSortParam">Created ASC/DESC</a>
                @*@Html.DisplayNameFor(model => model.Created)*@
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=" @Html.DisplayFor(modelItem => item.ImagePath)" class="card-img-thumbnail" alt="..." width="188px" height="266px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>      
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
