@*@model IEnumerable<CoolBooks.Models.Genre>*@
@model PaginatedList<CoolBooks.Models.Genre>
@{
    ViewData["Title"] = "Index";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var route = ViewContext.RouteData.Values["id"];
}

<h1>Genre.</h1>


<p>Sortera på:
    <a class="link-secondary" asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.FirstNameAscDescSortParam">Namn</a>
    <a class="link-secondary" asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.DescriptionAscDescSortParam">Description</a>
    @*<a class="link-secondary" asp-controller="@controller" asp-action="@action" asp-route-id="@route" asp-route-sortOrder="@ViewBag.CreatedAscDescSortParam">Created ASC/DESC</a>*@
</p>

@foreach (var item in Model) {


         <div class="d-flex">
            <div class="m-3 d-flex flex-column justify-content-center align-content-center">
                <a class="link-secondary" asp-action="Details" asp-controller="Genres" asp-route-id="@item.Id">@item.Name</a>
                @*<a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id"><img src=" @item.Book.ImagePath" class="card-img-thumbnail" alt="..." width="200px" height="297px"></a>   *@

                  <div>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="link-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="link-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>                    
                        }
                  </div>
            </div>
            <div class="d-flex flex-column m-3 border border-3 border-white p-3 rounded  w-100">
                <div>
                    <h2>
                        <a class="link-secondary" asp-action="Details" asp-controller="Genres" asp-route-id="@item.Id">@item.Name</a>
                    </h2>                   
                </div>

                <div class="d-flex">
                    <p class="text-start">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>        
        </div>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@for(int i = 1; i <= Model.TotalPages; i++)
{
    bool hej = true;
    if (Model.PageIndex == i)
    {
        hej = false;
        
    } 
    else
    {
        hej = true;
        
    }
    var currentDisabled = !hej ? "disabled" : "";
    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(i)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @currentDisabled">
    @i
</a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>