@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoolBooks!</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <partial name="_Book" model="Model.RandomBook"/>
    </thead>
    </table>
</div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <div class="carousel-inner">
    @{bool loopOnce = true;}
    @foreach (Book book in Model.Books)
    {
            if (loopOnce == true)
            {
                <div class="carousel-item active">
                    @{
                        string imgpath = book.ImagePath;
                        string title = book.Title;
                        string text = book.Description;
                    }            
                 <img src="@imgpath" style="width:150px; height:223px;"/> 
                 <h2>@title</h2>
                 <a href="Books/Details/@book.Id">Details</a>
                 <p>@text</p>
                 @*<partial name="_Book" model="book"/> Om vi vill ha hela boken inte bara img kör partial view inte <img> *@
                 </div>
                 loopOnce = false;
            }
            else {
                <div class="carousel-item">
                @{
                        string imgpath2 = book.ImagePath;
                        string title = book.Title;
                        string text = book.Description;
                    }               
                <img src="@imgpath2" style="width:150px; height:223px;"/>
                <h2>@title</h2>
                <a href="Books/Details/@book.Id">Details</a>
                <p>@text</p>
                @*<partial name="_Book" model="book"/> Om vi vill ha hela boken inte bara img kör partial view inte <img> *@
                </div>

                @*Prev/Next Knappar & Indicators behöver flyttas men funktionaliteten finns. *@
            }      
    } 
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>     
</div>
