@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <partial name="_Book" model="Model.RandomBook"/>

</div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <div class="carousel-inner">
    @{bool loopOnce = true;}
    @foreach (Book book in Model.Books)
    {
            if (loopOnce == true)
            {
                <div class="carousel-item active">
                    
                    <partial name="_Book" model="@book"/>
                     
                </div>
                 loopOnce = false;
            }
            else {
                <div class="carousel-item">
                        <partial name="_Book" model="@book"/>
                </div>

                @*Prev/Next Knappar & Indicators behöver flyttas men funktionaliteten finns. *@
            }      
    } 
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>     
</div>

<div class="mt-4 d-flex flex-wrap justify-content-evenly align-items-start">
    @foreach(var book in Model.AllBooks)
    {        
        <div class="m-3 d-flex flex-column overflow-hidden" style="width:225px">
            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
            <img src="@book.ImagePath" style="width:225px; height:335px;"/>
            </a>
            <div>
                <partial name="_RatingStars" model="@book.Rating" />
            </div>
            <div class="overflow-hidden ">
                <p class="fs-6 fw-bold">@book.Title</p>
            </div>
        </div>
        
    }
</div>