@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoolBooks!</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandomBook.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <partial name="_Book" model="Model.RandomBook"/>
    </thead>
    </table>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="200" style="width:192px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
    <div class="carousel-inner">
    @{bool loopOnce = true;}
    @foreach (Book book in Model.Books)
    {
            if (loopOnce == true)
            {
                <div class="carousel-item active">
                 @{string imgpath = book.ImagePath;}
                 <img src="@imgpath"/>               
                 @*<partial name="_Book" model="book"/> Om vi vill ha hela boken inte bara img kör partial view inte <img> *@
                 </div>
                 loopOnce = false;
            }
            else {
                <div class="carousel-item">
                @{string imgpath2 = book.ImagePath;}
                <img src="@imgpath2"/>
                @*<partial name="_Book" model="book"/> Om vi vill ha hela boken inte bara img kör partial view inte <img> *@
                </div>
             }
        @*https://getbootstrap.com/docs/4.0/components/carousel/ 
          Prev/Next Controllers funkar inte! Kolla detta ASAP!
        *@
    } 
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div>     
</div>
