@model CoolBooks.Models.Review

@{
    ViewData["Title"] = "Details";
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}



<h1>@Html.DisplayFor(model => model.Book.Title)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)<br />
            <a asp-controller="Comments" asp-action="CreateReviewComment" asp-route-id="@Model.Id" asp-route-returnUrl="@routeUrl">Kommentera</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    @if (Model.CreatedBy == userManager.GetUserId(User) || User.IsInRole("Admin" ))
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>


@foreach(ReviewLikes user in ViewBag.AllUserlikedislike)  
{  
    if (user.UserId == userManager.GetUserId(User))
    {
        ViewBag.userid = user.UserId;   
        ViewBag.userlike = user.IsLike;
        break;
    }
}

@if(@ViewBag.userid == userManager.GetUserId(User) && ViewBag.userlike == true) 
{   
    <button class="test"
    disabled data-status="true"  
    id="Like"> Like <i class="fa fa-thumbs-o-up blue-color"></i><span id="likecount">@ViewBag.like</span></button>
    
    <button class="test"   
    data-status ="false"  
    id="Dislike">Dislike<i class="fa fa-thumbs-o-down blue-color"></i><span id="dislikecount">@ViewBag.Dislike</span></button>
 } 
    
    else if (@ViewBag.userid == userManager.GetUserId(User) && ViewBag.userlike == false)
    {
    <button class="test" 
    data-status="true"  
    id="Like">Like<i class="fa fa-thumbs-o-up blue-color"></i><span id = "likecount">@ViewBag.like</span></button>
    
    <button class="test"   
    disabled data-status = "false"  
    id="Dislike">Dislike<i class="fa fa-thumbs-o-down"></i><span id="dislikecount">@ViewBag.Dislike</span></button>
    }

else 
{  
    <button class="test"  
    data-status="true"  
    id="Like">Like<i class="fa fa-thumbs-o-up blue-color"></i><span id="likecount">@ViewBag.like</span></button>
    
    <button class="test"   
    data-status="false"  
    id="Dislike">Dislike<i class="fa fa-thumbs-o-down blue-color"></i><span id="dislikecount">@ViewBag.Dislike</span></button>
    
}
@if (signInManager.IsSignedIn(User))
{
    <script>
    $("#Like").click(function() { 
    debugger;  
    @*ajaxGet deprecated*@
    $.get("@Url.Content("~/Reviews/Like")/?id=" + @Model.Id + "&status=" + $(this).data("status"), function(data) {  
        var counters = data.split('/');  
        $("#likecount").text(counters[0]);  
        $("#dislikecount").text(counters[1]);  
        $("#Like").attr('disabled', 'disabled');  
        $("#Dislike").attr('disabled', false);  
        console.log("@Url.Content("~/Reviews/Like")/?id=" + @Model.Id + "&status=" + $(this).data("status"));
        console.log("det här kanske fungerar like");
    });  
});   
$("#Dislike").click(function() {  
    debugger;
    @*ajaxGet deprecated*@
    $.get("@Url.Content("~/Reviews/Like")/?id=" + @Model.Id + "&status=" + $(this).data("status"), function(data) {  
        var counters = data.split('/');  
        $("#likecount").text(counters[0]);  
        $("#dislikecount").text(counters[1]);  
        $("#Dislike").attr('disabled', 'disabled');  
        $("#Like").attr('disabled', false);
        console.log("@Url.Content("~/Reviews/Like")/?id=" + @Model.Id + "&status=" + $(this).data("status"));
        console.log("det här kanske fungerar dislike");
    });  
});  
    </script>
}
else
{
   <br><br><a asp-controller="account" asp-action="login">Logga in</a><span> för att kunna använda like/dislike.</span>
}
<script>
let testArray = [];
let testArray2 = [];
</script>
<h2>Kommentarer:</h2>
<partial name="_Comment" model="@Model.Comments" />


