@model CoolBooks.Models.Review

@{
    ViewData["Title"] = "Details";
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);


}


<h1>@Html.DisplayFor(model => model.Book.Title)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)<br />
            <a asp-controller="Comments" asp-action="CreateReviewComment" asp-route-id="@Model.Id" asp-route-returnUrl="@routeUrl">Kommentera</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @{double rating = (double)Model.Rating;}
            <partial name="_RatingStars" model="@rating"/> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    @if (Model.CreatedBy == userManager.GetUserId(User) || User.IsInRole("Admin" ))
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>


<partial name="_ReviewButtons" model="@Model" />

<h2>Kommentarer:</h2>
<partial name="_Comment" model="@Model.Comments" />

<partial name="_ButtonsScripts" />

