@model IEnumerable<CoolBooks.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Book ASC/DESC", "Index", new { sortOrder = ViewBag.BookAscDescSortParam })
                @*@Html.DisplayNameFor(model => model.Book)*@
            </th>
            <th>
                @Html.ActionLink("Title ASC/DESC", "Index", new { sortOrder = ViewBag.TitleAscDescSortParam })
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                @Html.ActionLink("Text ASC/DESC", "Index", new { sortOrder = ViewBag.TextAscDescSortParam })
                @*@Html.DisplayNameFor(model => model.Text)*@
            </th>
            <th>
                @Html.ActionLink("Rating ASC/DESC", "Index", new { sortOrder = ViewBag.RatingAscDescSortParam })
                @*@Html.DisplayNameFor(model => model.Rating)*@
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>*@
            <th>
                @Html.ActionLink("Created ASC/DESC", "Index", new { sortOrder = ViewBag.CreatedAscDescSortParam })
                @*@Html.DisplayNameFor(model => model.Created)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
