@model List<CoolBooks.Models.Review>
@{
    ViewData["Title"] = "Profile";

}

<h1>Mina Reviews</h1>
@*<partial name="_StatusMessage" for="StatusMessage" />*@
<partial name="_AdminMenu" />
<table class="table">
    <thead>
        <tr>
            <th>
                Titel:
            </th>
            <th>
                Text:
            </th>
            <th>
                Rating:
            </th>
            <th>
                Likes:
            </th>
            <th>
                Dislikes:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model) {
        <tr>
            <td>
                <a class="link-secondary" asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id">@review.Title</a>
            </td>
            <td>
                @review.Text
            </td>
            <td>
                @review.Rating
            </td>
            <td>
                @review.LikeCount
            </td>
            <td>
                @review.DisLikeCount
            </td>
            <td>                   
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
