@model List<QuizTaken>
@{
    ViewData["Title"] = "Index";
}

<h1>Mina Spelade Quiz.</h1>


<a asp-controller="Account" asp-action="Profile">Min Profil</a>
<a asp-controller="Account" asp-action="ProfileEdit">Edit profil</a>     
<a asp-controller="Account" asp-action="ProfileReviews">Mina reviews</a> 
<a asp-controller="Account" asp-action="ProfileMinaQuiz">Mina quiz</a> 
<a asp-controller="Account" asp-action="ProfileMinaQuizTaken">Quiz som jag har spelat</a> 
<table class="table">
    <thead>
        <tr>
            <th>
                Quiz!
                
            </th>
            <th>
                Poäng
                
            </th>
            <th>
                Datum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Quiz" asp-action="Take" asp-route-id="@item.Quiz.Id">@item.Quiz.Name</a> 
            </td>
            <td>
                @item.Score / @item.MaxScore
            </td>
            <td>
                @item.Created       
            </td>
        </tr>
}
    </tbody>
</table>